body, h1 {
  margin: 0;
}
html {
  background-color: rgb(197, 203, 203);
  font-family: "Hero" !important;  
}
@font-face {
  font-family: "Hero";  
  src: url("./fonts/Hero.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
  }