.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.count {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
}

.activeButton {
  border: 1px solid black;
}

.filters {
  display: flex;
  column-gap: 10px;
}